<section class="landing-page">
  <div class="container  d-flex ">
        <h1 class="h1">Budget Me APP</h1>
        <div class="d-flex">     
            <button class="btn"><%= link_to "Log in", new_user_session_path %></button>
            <button class="btn"><%= link_to "Sign up", new_user_registration_path %></button>
       </div>
  </div>
</section>