<section class="container p-5">
  
        <h1 class="display-1 text-primary text-center text-align-center p-5 mt-5">Budget App</h1>
        
</section>
<div class="container d-flex flex-col gap-4">     
            <button class="btn btn-primary p-3"><%= link_to "Log in", new_user_session_path, class: 'text-white' %></button>
            <button class="btn btn-primary p-3"><%= link_to "Sign up", new_user_registration_path, class: 'text-white' %></button>
      
  </div>